* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #aacbd6;
  padding: 10px;
}

.nav-link {
  border-radius: 3px;
  border: none;
  color: #8348d1;
  padding: 5px 10px;
  cursor: pointer;
  font: 400 18px "Tahoma";
}
.nav-link.active {
  background-color: #012379;
  color: #fff;
}
.nav-link:not(.active):hover {
  color: blue;
  text-shadow: 1px 1px 1px #ccc;
}

.tab-pane {
  color: #012379;
  font: 400 16px "Tahoma";
  padding: 10px;
}
